<?xml version="1.0"?>
<cooltestconfig name="cool_test" path="/tests">
	<grades>
		<grade id="2" name="Grade_2">
			<tests>
				<test id="1" name="Test_1.txt"/>
				<test id="2" name="Test_2.txt"/>
				<test id="3" name="Test_3.txt"/>
				<test id="4" name="Test_4.txt"/>
				<test id="5" name="Test_5.txt"/>
				<test id="6" name="Test_6.txt"/>
				<test id="7" name="Test_7.txt"/>
				<test id="8" name="Test_8.txt"/>
				<test id="9" name="Test_9.txt"/>
				<test id="10" name="Test_10.txt"/>
				<test id="11" name="Test_11.txt"/>
				<test id="12" name="Test_12.txt"/>
				<test id="13" name="Test_13.txt"/>
				<test id="14" name="Test_14.txt"/>
				<test id="16" name="Test_16.txt"/>
				<test id="17" name="Test_17.txt"/>
				<test id="18" name="Test_18.txt"/>
				<test id="19" name="Test_19.txt"/>
				<test id="20" name="Test_20.txt"/>
				<test id="21" name="Test_21.txt"/>
				<test id="24" name="Test_24.txt"/>
				<test id="28" name="Test_28.txt"/>
				<test id="29" name="Test_29.txt"/>
				<test id="30" name="Test_30.txt"/>
				<test id="31" name="Test_31.txt"/>
				<test id="32" name="Test_32.txt"/>
				<test id="33" name="Test_33.txt"/>
				<test id="34" name="Test_34.txt"/>
				<test id="35" name="Test_35.txt"/>
				<test id="36" name="Test_36.txt"/>
				<test id="37" name="Test_37.txt"/>
				<test id="38" name="Test_38.txt"/>
				<test id="39" name="Test_39.txt"/>
				<test id="40" name="Test_40.txt"/>
				<test id="41" name="Test_41.txt"/>
				<test id="42" name="Test_42.txt"/>
				<test id="43" name="Test_43.txt"/>
				<test id="44" name="Test_44.txt"/>
				<test id="45" name="Test_45.txt"/>
				<test id="46" name="Test_46.txt"/>
				<test id="47" name="Test_47.txt"/>
				<test id="48" name="Test_48.txt"/>
				<test id="49" name="Test_49.txt"/>
				<test id="50" name="Test_50.txt"/>
				<test id="51" name="Test_51.txt"/>
				<test id="55" name="Test_55.txt"/>
				<test id="57" name="Test_57.txt"/>
				<test id="58" name="Test_58.txt"/>
				<test id="59" name="Test_59.txt"/>
				<test id="60" name="Test_60.txt"/>
			</tests>
		</grade>
		<grade id="3" name="Grade_3">
			<tests>
				<test id="1" name="Test_1.txt"/>
				<test id="2" name="Test_2.txt"/>
				<test id="3" name="Test_3.txt"/>
				<test id="4" name="Test_4.txt"/>
				<test id="5" name="Test_5.txt"/>
				<test id="6" name="Test_6.txt"/>
				<test id="7" name="Test_7.txt"/>
				<test id="8" name="Test_8.txt"/>
				<test id="9" name="Test_9.txt"/>
				<test id="10" name="Test_10.txt"/>
				<test id="11" name="Test_11.txt"/>
				<test id="12" name="Test_12.txt"/>
				<test id="13" name="Test_13.txt"/>
				<test id="14" name="Test_14.txt"/>
				<test id="15" name="Test_15.txt"/>
				<test id="16" name="Test_16.txt"/>
				<test id="17" name="Test_17.txt"/>
				<test id="18" name="Test_18.txt"/>
				<test id="19" name="Test_19.txt"/>
				<test id="20" name="Test_20.txt"/>
				<test id="21" name="Test_21.txt"/>
				<test id="22" name="Test_22.txt"/>
				<test id="23" name="Test_23.txt"/>
				<test id="24" name="Test_24.txt"/>
				<test id="25" name="Test_25.txt"/>
				<test id="26" name="Test_26.txt"/>
				<test id="27" name="Test_27.txt"/>
				<test id="28" name="Test_28.txt"/>
				<test id="29" name="Test_29.txt"/>
				<test id="32" name="Test_32.txt"/>
				<test id="33" name="Test_33.txt"/>
				<test id="34" name="Test_34.txt"/>
				<test id="35" name="Test_35.txt"/>
				<test id="36" name="Test_36.txt"/>
				<test id="37" name="Test_37.txt"/>
				<test id="38" name="Test_38.txt"/>
				<test id="39" name="Test_39.txt"/>
				<test id="40" name="Test_40.txt"/>
				<test id="41" name="Test_41.txt"/>
				<test id="42" name="Test_42.txt"/>
				<test id="43" name="Test_43.txt"/>
				<test id="44" name="Test_44.txt"/>
				<test id="46" name="Test_46.txt"/>
				<test id="48" name="Test_48.txt"/>
				<test id="49" name="Test_49.txt"/>
				<test id="50" name="Test_50.txt"/>
				<test id="51" name="Test_51.txt"/>
				<test id="52" name="Test_52.txt"/>
				<test id="53" name="Test_53.txt"/>
				<test id="54" name="Test_54.txt"/>
				<test id="55" name="Test_55.txt"/>
				<test id="56" name="Test_56.txt"/>
				<test id="57" name="Test_57.txt"/>
				<test id="58" name="Test_58.txt"/>
				<test id="59" name="Test_59.txt"/>
				<test id="60" name="Test_60.txt"/>
				<test id="61" name="Test_61.txt"/>
				<test id="62" name="Test_62.txt"/>				
			</tests>
		</grade>
		<grade id="4" name="Grade_4">
			<tests>
				<test id="1" name="Test_1.txt"/>
				<test id="2" name="Test_2.txt"/>
				<test id="5" name="Test_5.txt"/>
				<test id="6" name="Test_6.txt"/>
				<test id="8" name="Test_8.txt"/>
				<test id="11" name="Test_11.txt"/>
				<test id="12" name="Test_12.txt"/>
				<test id="13" name="Test_13.txt"/>
				<test id="14" name="Test_14.txt"/>
				<test id="19" name="Test_19.txt"/>
				<test id="20" name="Test_20.txt"/>
				<test id="21" name="Test_21.txt"/>
				<test id="23" name="Test_23.txt"/>
				<test id="24" name="Test_24.txt"/>
				<test id="25" name="Test_25.txt"/>
				<test id="26" name="Test_26.txt"/>
				<test id="27" name="Test_27.txt"/>
				<test id="28" name="Test_28.txt"/>
				<test id="29" name="Test_29.txt"/>
				<test id="31" name="Test_31.txt"/>
				<test id="32" name="Test_32.txt"/>
				<test id="33" name="Test_33.txt"/>
				<test id="34" name="Test_34.txt"/>
				<test id="35" name="Test_35.txt"/>
				<test id="36" name="Test_36.txt"/>
			</tests>
		</grade>
	</grades>
</cooltestconfig>